<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="LenseSize" value="3" />
    <add key="FilterRegexes_" value="FATAL;ERROR;Threshold:;None:;ThresholdAndRotate:;OCR;Uncertain split;FileName;into 0 pages;into ([^1]|\d\d+) pages" />
    <add key="FilterRegexes" value="FATAL;ERROR;None:;ThresholdAndRotate:;OCR;Uncertain split;FileName;into 0 pages;into ([^1]|\d\d+) pages|\d{11}\.pdf] into 1 pages" />

    <add key="FilterRegexes" value="FATAL;ERROR;OCR;Uncertain split;FileName" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>